html,body{
  font: 14px/1.5 Helvetica,Tahoma,Arial,"Hiraino Sans GB","Microsoft YaHei ",SimSun,Heiti,sans-serif;
  color: #515151;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}
.wrapper{
  width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
